/* Navbar */

.content{
  display: none;
}

.procedure:hover .content{
  display: block;
}

/* Scrolling */

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scrollLeft 20s linear infinite;
}

/* Floating */

.bubble {
  position: absolute;
  animation-timing-function: ease-in-out;
}

.animate-bubble1 {
  animation: moveBubble1 10s ease-in-out infinite;
}

.animate-bubble2 {
  animation: moveBubble2 10s ease-in-out infinite;
}

.animate-bubble3 {
  animation: moveBubble3 10s ease-in-out infinite;
}

@keyframes moveBubble1 {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(30px) translateY(-20px);
  }
}

@keyframes moveBubble2 {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(0px) translateY(-30px);
  }
}

@keyframes moveBubble3 {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-20px) translateY(20px);
  }
}


/* ContactDetail */

@media (min-width:1025px) {
  .floating{
    position:absolute;
    width: 25%;
    top:55%;
    left:37%
  
  }
}


/* AnimatedSection */

.gradient-border{
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right,red,rgb(244, 235, 235),white) 0.5;
}

/* ImageSlider */


@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out forwards;
}



/* Course-card */

@media (max-width: 426px) {
  .course-card{
    transition: all 0.5s ease-in-out;
    transform: scale(1);
  }
  .course-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
  }
  .course-card button:hover{
    background-color: #900000;
  }

}

/* Group */


@media (max-width: 426px) {
  .group h1:hover{
    color: #1447e6;
  }
  .group p:hover{
    color:#C90007
  }
  .element {
    transform: scaleX(0) translateX(-100%);
    background-color: white;
    transition: transform 0.5s ease-in-out;
  }
  
  .element.group:hover {
    transform: scaleX(1) translateX(0);
  }
  
  }
